.success{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding-top:50px;
    text-align:center;

  h1{
    font-size:40px;
  }
  h2{

  }
}
