$turkoise: #40a7c5;
$blackish: #292929;

@import url('https://fonts.googleapis.com/css?family=Open Sans:light,lightitalic,normal,italic,bold,bolditalic|Ubuntu:light,lightitalic,normal,italic,bold,bolditalic|Open+Sans:light,lightitalic,normal,italic,bold,bolditalic');

body{
  color:$blackish;
  margin:0;
  padding:0;
  font-family: 'ubuntu', sans-serif;
}
*{
  outline: none;
}

#header{
  position:fixed;
  height:3em;
  background:rgba(255,255,255,0.8);
  right:0;top:0;left:0;
  z-index:10000000;
  box-shadow: 0 0 0.15em 0 rgba(0,0,0,1);
  img{
    height:43px;
    margin-left:10px;
    margin-top:3px;
  }
  .learn{
    position:absolute;
    right:30px;
    top:7px;
    color:#249fdc;
    text-decoration:none;
  }
}
.container{
  width:1160px;
  margin:55px auto 0px;
  background:white;
  text-align:center;
  overflow:hidden;
  min-height:650px;
  &.second{
    margin:-70px auto;
    .half{
      text-align:left;
      width:40%;
      padding:5%;
      line-height:1.4em;
      h1{
        line-height:1.2em;
      }
    }
  }
  .half{
    width:50%;
    float:left;
    position:relative;
    &.second{
      margin-top:15px;
    }
    hr{
      width:84%;
      margin:4px auto 20px;
      display: block; height: 1px;
      border: 0; border-top: 3px solid #ededed;
    }
  }

}

.form{
  width:100%;
}

.shirt{
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
  background: #fff image-url("White-Transparent_2300x2415.png");
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: cover;
  height:650px;
  margin-bottom:100px;


  &.color-black{
    background: #fff image-url("Black-Transparent_2300x2415.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;


  }
  &.color-blue{
    background: #fff image-url("Blue-Transparent_2300x2415.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;

  }
  &.color-green{
    background: #fff image-url("Green-Transparent_2300x2415.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;

  }
  &.color-orange{
    background: #fff image-url("Orange-Transparent_2300x2415.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;

  }
  &.color-pink{
    background: #fff image-url("Pink-Transparent_2300x2415.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;

  }
  &.color-purple{
    background: #fff image-url("Purple-Transparent_2300x2415.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;

  }
  &.color-red{
    background: #fff image-url("Red-Transparent_2300x2415.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;

  }
  &.color-yellow{
    background: #fff image-url("Yellow-Transparent_2300x2415.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;

  }

  button.upload-butt{
    background:rgba(255,255,255,0.1);
    border:4px solid $turkoise;
    color: $turkoise;
    font-size:50px;
    width:150px;
    height:150px;
    vertical-align:60px;
    margin-top:160px;
    cursor:pointer;
    padding-bottom:20px;
    &.invalid{
      border: 4px solid #ff003f;
      color:#ff003f;

    }
  }
  .canvas{
    padding-top:145px;
    height:400px;
    img{
      max-width:278px;
      max-height:400px;
      opacity:0.88
    }
  }
  .positioner{
    display:none;
    opacity:0.7;
    font-size:16px;
    width:40px;
    margin-top:-380px;
    margin-left:105px;
    position:absolute;
    button{
      border:0px;
      width:40px;
      font-size:40px;
      cursor:pointer;
      background:rgba(0,0,0,0)
    }
    .inches{
      padding-left:7px;
      font-weight:bold;
    }
  }
  &:hover{
    .positioner{
      display:block;
    }
  }
  .buttons{
    width:100%;
    position:absolute;
    bottom:60px;
    right:0;
    left:0;
    &.after-upload{
      margin-top:95px !important;
    }

  }
  button.color{
    border:1px solid #d3d3d3;
    padding:17px;
    margin:3px;
    cursor:pointer;
    &:hover{
      opacity:0.9;
    }
  }
  button.color-white{
    background: #F2F0F2;
  }
  button.color-black{
    background: #212424;
  }
  button.color-blue{
    background: #00A7D4;
  }
  button.color-green{
    background: #08753C;
  }
  button.color-orange{
    background: #FF7200;
  }
  button.color-pink{
    background: #F8B4BE;
  }
  button.color-purple{
    background: #4E0573;
  }
  button.color-red{
    background: #C41F30;
  }
  button.color-yellow{
    background: #F5F190;
  }

}

.bigg{
  font-size:27px;
}


.loader{
  height:180px;
  width:180px;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  margin-top:200px;
  color:#383037;
  font-size:13px;
  text-align:center;
  background:rgba(255,255,255,0.80);
  box-shadow:0 0 25px rgba(0,0,0,0.32);
  border:1px solid #C4C4C4;
  z-index:5000;
  .on-call-loader-text{
    text-align:center;
    padding-top:6px;
  }

  img.loader-image{
    margin-top:48px;
  }
  .lock{
    margin-top:12px;
    text-align:center;
    opacity:0.7;
    display:none;
  }
}

.shirt-file{
  display:none;
}

.card-type{
  position:absolute;
  margin-top:-53px;
  margin-left:480px;
  font-size:10px;
  color:#0bcb2f;
}

input{
  width:84%;
  margin:auto;
  padding:4px;
  font-size:28px;
  margin-bottom:25px;
  border: 0px;
  border: 1px solid #c3dbe0;
  &.half-input{
    width:34%;
    margin-left:3%
  }
  &.halfplus-input{
    width:50%;
  }
  &.quarter-input{
    width:22%;
  }
  &.invalid{
    border: 1px solid #ff003f;
    background:#e8e8e8
  }
  &.valid{
    border: 1px solid #0bcb2f;
    background:#e3ffe6;
  }
}
.eighty{
  width:100%;
  margin:auto;

}

input[type="submit"]{
  background:white;
  border:6px solid $turkoise;
  color:#40a7c5;
  font-size:40px;
  font-weight:bold;
  padding:20px;
  cursor:pointer;
  width:86%;
  &:hover{
    opacity:0.9;
  }

}

.index{
  padding-top:100px;
  text-align:center;
  table{
    margin:auto;
    td{
      border:1px solid black;
      padding:8px;
    }
  }
}

.caption-info{
  color: #606060;
  a{
    color:#249fdc;
    text-decoration: none;
  }
}

footer{
  text-align:center;
  padding:20px 0px;
  color:#606060;
  font-size: 14px;
  a{
    display:inline-block;
    margin-left:8px;
    color: #249fdc;
    text-decoration: none;
  }
}


@media only screen and (max-width: 580px)  {
  .half{
    width:100% !important;

  }
  .container{
    width:100% !important;
    &.second{
      margin:0px auto !important;
      .half{
        width:90% !important;;
      }
    }
  }
  .positioner{
    display:none !important;
  }
}
