<div class="success">
  <h1>Success! Your Shirt has been uploaded</h1>
  <h2>You will be receiving an email shortly with further instructions</h2>
  <% if params[:id] %>
    <%= image_tag Upload.find(params[:id]).cloud_small_mockup %>
  <% end %>
</div>
